## Code - Apprentissage

In [9]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Chargement des données

In [35]:
requests=pd.read_csv("laulau_data.csv",sep=",",header=0)
requests.index=requests['hotel_id']
requests=requests.drop(['Unnamed: 0'], axis=1)
requests=requests.drop(['index'], axis=1)
requests=requests.drop(['hotel_id'],axis=1)
requests.head()

,group,brand,city,parking,pool,children_policy,price,stock,date,language,mobile,avatar_name
hotel_id,,,,,,,,,,,,
519,Yin Yang,Royal Lotus,copenhagen,0,0,0,208,68,30,french,0,laulau
523,Independant,Independant,copenhagen,0,0,0,85,41,30,french,0,laulau
898,Yin Yang,8 Premium,copenhagen,1,0,0,86,24,30,french,0,laulau
770,Morriott International,Morriot,copenhagen,1,1,0,210,73,30,french,0,laulau
562,Chillton Worldwide,Quadrupletree,copenhagen,0,0,0,215,74,30,french,0,laulau

## Création de l'échantillon d'apprentissage et de l'échantillon test

In [36]:
price=requests["price"]
X_train,X_test,price_train,price_test=train_test_split(requests,price,test_size=0.25,random_state=11)

In [39]:
X_train.head()
#X_test.head()

,group,brand,city,parking,pool,children_policy,price,stock,date,language,mobile,avatar_name
hotel_id,,,,,,,,,,,,
237,Morriott International,CourtYord,valletta,1,0,0,147,56,30,czech,0,laulau
476,Independant,Independant,valletta,1,0,0,128,33,30,czech,0,laulau
221,Independant,Independant,vilnius,1,0,0,55,28,30,belgian,0,laulau
618,Accar Hotels,Navatel,madrid,1,0,0,104,39,30,austrian,0,laulau
600,Independant,Independant,madrid,1,0,0,59,27,30,dutch,0,laulau